stylesheet.css

*{
	box-sizing: border-box;	
	font-family: serif;
}

body {
	font-size:24px;
}

h1{
	font-size:1.8em;
}

h2{
	font-size:1.5em;
}

h3{
	font-size: 1.2em;
}

p{
	margin-top:1px;
	margin-bottom: 1px;
	font-size:1em;
}

.clear {
	clear: both;
}
.name {
	color: #b22222;
	font-size:1.2em;
}




.header {
	background-color:rgba(0,0,0,0.7);
	height: 5%;
	width: 100%;
	color:white;
	position: fixed;
	top:0;
	z-index: 1;	
	font-family:georgia,"serif";
}
.header-title {
	float: left;
	margin-left: 2%;
}


.menu{
	width: 100%
}

.menu-list{
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	text-align: center;
}

.menu-list li {
	list-style: none;
	position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #b22222;
    border-right: solid 4px #b22222;
    color: #b22222;
    background:#fff ;
    transition: .4s;	
}

.menu-list li:hover {
	background: rgba(0,0,0,0.7);
    color: #fff;
}
.menu-list a:hover{
    color: #fff;

}
.menu-list a{
	color: #b22222;
	text-decoration: none;
}

/*-- Welcom --*/

.welcom{
	width: 100%;
	position: relative;
}

.welcom img{
	width:100%;
	
}

.welcom-talk {
	position: absolute;
	bottom:30%;
	right: 5%;
	color: white;
}

/*--Profile--*/

.profile img{
	width: 100%;
}

.web-fot{
	display: block !important;

}
.sh-fot{
	display: none !important;
}

.profile {
	position:relative;
	clear: left;

}

.intro {
	position: absolute;
	color: white;
	width: 50%;
	top: 0;
	right: 0;
	background-color:rgba(34,34,179,0.6);
	height: 100%;

}

.intro-talk {
	padding:2%;
}



/*-- Performance --*/

.performance {
	margin-top: 5%;		
	margin-bottom: 10%;
	text-align: center;
	overflow: hidden;

}

.performance p{
	font-size:24px;
}


.event {
	display: flex;

}

.work-fot{
	width: 30%;
	float: left;
}

.work {
	margin-top: 30%;
	width: 70%;
}

.pe {
	width: 100%;
	float: left;
	margin-bottom: 5%;
	text-align: left;
	font-size:24px;
}

.under{
	border-bottom: solid 3px #b22222;
}


/*-- STORY--*/
.story{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding:3%;
	background-color: #dcdcdc;
}

.story p{
	text-align: left;
	margin-bottom: 1.1em;
	margin-right: 5%;
	margin-left: 10%;
	
}


/*-- MISSION --*/
.mission {
	text-align: center;
	padding:5%;
	background-color: #111111;
	color: white;
}

.mission p{
	margin-bottom: 5%;

}
.mission-ste {
	width: 100%;
	height: 100%;
}




/*-- タブレット用レイアウト--*/

@media(max-width: 1000px) {
body {
	font-size:16px;
} 

.pe{
	font-size:16px;
	margin-right: 2%
	margin-left:2%;
}

.performance p{
	font-size:16px;
}


.event {
	display: block;
}
.web-fot{
	display: none !important;
}

.sh-fot{
	display: block !important;
}


.work-fot{
	width: 100%;
}

.work {
	margin-top: 10%;
	text-align: center;
	max-width: 70%;
}

.intro {
	width: 100%;
	background-color:rgba(34,34,179,0.5);
	height: 100%;
}
.intro-talk p{
	line-height: 1.2em
}
.pc {
	display: none;
}

}


/*-- footer --*/
.footer {
	text-align: center;
	color:#222222;
}



/*-- タブレット用レイアウト--*/

@media(max-width: 670px){
body {
	font-size:14px;
} 

.pe{
	font-size:16px;
	margin-right: 2%
	margin-left:2%;
}

.performance {
	background-color: white;
}

.performance p{
	font-size:14px;
}

.event {
	display: block;
}
.web-fot{
	display: none !important;
}

.sh-fot{
	display: block !important;
}


.work-fot{
	width: 100%;
}

.work {
	margin-top: 10%;
	text-align: center;
	max-width: 70%;
}

.intro {
	width: 100%;
	background-color:rgba(34,34,179,0.5);
	height: 100%;
}
.intro-talk p{
	line-height: 1.5em
}
.pc {
	display: none;
}

}



